@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// 2. Vendors
@import 'vendor/normalize', 'vendor/wp-core';

// 3. Base stuff
@import 'base/fonts', 'base/base', 'base/typography', 'base/helpers', 'base/animation';

// 5. Components
@import 'components/button', 'components/hamburger';
@import 'components/anchor.scss';
@import 'components/banner.scss';
@import 'components/newsletter.scss';
@import 'components/news-card.scss';
@import 'components/news.scss';
@import 'components/post.scss';
@import 'components/featured-post.scss';

// 4. Layout-related sections
@import 'layout/header', 'layout/footer', 'layout/body';

@import 'pages/blog';