// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Plus Jakarta Sans
@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela-Bold.woff2') format('woff2'),
        url('/assets/fonts/Canela-Black.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela-Black.woff2') format('woff2'),
        url('/assets/fonts/Canela-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela-Regular.woff2') format('woff2'),
        url('/assets/fonts/Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Font-Family: Garnett */
@font-face {
    font-family: 'Garnett';
    src: url("../fonts/Garnett-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Garnett';
    src: url("../fonts/Garnett-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Garnett';
    src: url("../fonts/Garnett-Light.woff") format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Garnett';
    src: url("../fonts/Garnett-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

