// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    padding: 16px 24px;
    background-color: $white;
    color: $light-red;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
}

.btn-area {
    padding: 16px;
    width: 310px;
    color: $main-color;
    background-color: transparent;
    border: 1px solid $main-color;
    border-radius: 30px;
    &:hover {
        color: $sky;
        background-color: $main-color;
    }
}

.btn-link {
    position: relative;
    z-index: 1;
    color: $white;
    font-size: 13px;
    font-weight: 500;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: -2px;
        width: 0;
        border: 1px solid $white;
        opacity: 0;
        transition: 0.6s;
    }
    &:hover {
        &::before {
            opacity: 1;
            width: 100%;
        }
    }
}

.btn-blue {
    color: $blue;
    &:before {
        border-color: $blue;
    }
}

.btn-gray {
    color: $light-grey;
    font-size: 16px;
    &:before {
        border-color: $blue;
    } 

    &:hover {
        color: $blue;
        &::before {
            border-color: $blue;
        }
    }
}

.btn-twit {
    color: $gray;
    font-size: 17px;
    font-weight: bold;
    transition: 0.6s;
    &:hover {
        color: $blue;
    }
}