.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid $light-grey;

    &:last-child {
        border: none;
    }

    &-heading {
        padding: 50px 15px;
        width: 33%;

        @include mq(tablet-wide) {
            width: 100%;
        }
        &__author {
            font-size: 12px;
            p {
                color: $gray;
                .author-name {
                    color: $black;
                }
                .author-date {
                    color: $gray;
                }
            }
        }
        &__title {
            color: $black;
        }
    }

    &-image {
        padding: 0 15px;
        width: 33%;
        @include mq(tablet-wide) {
            width: 100%;
        }
    }

    &-content {
        padding: 50px 0;
        width: 33%;

        @include mq(tablet-wide) {
            width: 100%;
        }

        &__desc {
            margin-bottom: 5px;
            color: $gray;
        }
    }
}