.news-card {
    margin-right: 10px;
    &__title {
        font-size: 10px;
        margin-bottom: 10px;
    }

    &__rect {
        display: flex;
        padding: 15px 15px 30px 15px;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        font-size: 25px;
        @include mq("tablet") {
            font-size: 20px;
        }
        .text-white {
            color: $white;
        }
        .text-blue {
            color: $main-color;
        }
        .text-red {
            color: $light-red;
        }
    }
    .card-article {
        background-color: $green;
    }
    .card-book {
        background-color: $sky;
    }
    .card-news {
        background-color: $yellow;
    }
}
