// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: $main-color;
    transition: 0.6s;
    z-index: 5;
    .container {
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-brand {
        z-index: 3;
        &__logo {
            img {
                height: 2rem;
            }
        }
    }
    .phone-menu {
        top: 0px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        transition: 0.6s;
        @include mq(tablet-wide) {
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            top: -350px;
            left: 0;
            width: 100%;
            height: auto;
            background-color: $white;
            z-index: 2;
        }

        &__menu {
            display: flex;
            @include mq(tablet-wide) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            &.phone {
                height: 100vh;
            }
        }

        &__item {
            text-align: center;
            transition: 0.6s;
            @include mq(tablet-wide) {
                opacity: 0;
            }
            @include when-inside('.phone') {
                opacity: 1;
            }
        }
        
        
        &__link {
            display: block;
            padding: 0.5rem 1.4rem 0.5rem 0.5rem;
            color: $text-color;
            transition: 0.6s;
            font-weight: 400;
            
            &:hover {
                transform: translate(0px , -2px);
            }
        }

        &__creator {
            text-align: center;
            margin: auto;
            @include mq(tablet-wide) {
                top: -350px;
            }
        }

        &__btn {
            background: #ffffff;
            border: none;
            outline: none;
            padding: 8px 18px;
            border-radius: 30px;
            color: #ffb8aa;
            font-size: 15px;
            font-weight: 700;
            transition: 0.5s;
            margin-right: 10px;
            @include mq(tablet-wide) {
                color: $blue;
            }
        }
    }
    .hamburger {
        display: none;
        padding: 10px;
        width: 50px;
        height: 50px;
        border: 2px solid $black !important;
        border-radius: 50%;

        @include mq(tablet-wide) {
            display: flex;
        }
    }
}
.nav-signup {
    position: fixed;
    top: 14px;
    right: 37px;
    width: max-content;
    z-index: 10;
    @include mq(tablet-wide) {
        display: none;
    }
    &__btn {
        background: $primary-color;
        color: rgb(255, 255, 255);
        display: inline-block;
        border-radius: 10px;
        padding: 14px 24px 16px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        border: 0px;
        cursor: pointer;
        user-select: none;
        text-align: center;
        text-decoration: none;
        
        transition: transform 150ms ease 0s;
        transform: translateY(0px);
    }
}
